<div class="main">
  <article>
    <div id="masonry-container">
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina01" src="http://marticleimage.nicoblomaga.jp/image/156/2014/f/4/f4400e6a127076213d3526626120d1dc3bd5255a1406331981.jpg" /></ul>
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina02" src="http://pic.prepics-cdn.com/tsuna27/28454991.jpeg" /></ul>
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina03" src="http://pic.prepics-cdn.com/01125/24212269.jpeg" /></ul>
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina04" src="http://blog-imgs-72.fc2.com/g/e/k/gekiseiyuuarchive/28_marina.jpg" /></ul>
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina05" src="http://www.suruga-ya.jp/database/pics/game/g6457262.jpg" /></ul>
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina06" src="http://blog-imgs-66.fc2.com/g/e/k/gekiseiyuuarchive/inouemarina72.jpg" /></ul>
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina07" src="http://lh6.ggpht.com/-OTwiur9KD6U/Tf8M0L7ySyI/AAAAAAAAs4k/XyJUUuFazjk/s500/inoueMarina_462-13.jpg" /></ul>
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina08" src="http://pic.prepics-cdn.com/01125/24212144.jpeg" /></ul>
      <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina09" src="http://36.media.tumblr.com/8075dda87345a6382a246d0ccd3d7407/tumblr_mlrawmcqdL1rqxjc9o1_500.jpg" /></ul>
     <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina10" src="http://articleimage.nicoblomaga.jp/image/51/2014/2/2/226e86ac771f5691199299b228abe4e19ac1670b1391182168.jpg" /></ul>
     <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina11" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0R4mIDTJVnBPxJeUKN0zOFjHqR5LPce06I7Sl-9crgJKe7MM4" /></ul>
     <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina12" src="http://image.blog.livedoor.jp/mimidya/imgs/a/d/ad90d9e3.jpg" /></ul>
     <ul class="alignleft tile1" id="1" onclick="read(1)"><img alt="marina13" src="http://ジャパンポップカルチャー.com/wp-content/uploads/2013/07/inoue130721.jpg" /></ul>
    
    
    </div>
  </article>
</div>
